Checks: >
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-cplusplus.StringChecker,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-optin.cplusplus.UninitializedObject,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-analyzer-optin.portability.UnixAPI,
  -clang-analyzer-security.FloatLoopCounter,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-analyzer-unix.Malloc,
  -clang-diagnostic-#warnings,
  -clang-diagnostic-constant-conversion,
  -clang-diagnostic-fortify-source,
  -clang-diagnostic-implicit-const-int-float-conversion,
  -clang-diagnostic-non-virtual-dtor,
  -clang-diagnostic-null-dereference,
  -clang-diagnostic-self-assign-overloaded,
  -clang-diagnostic-switch,
  -clang-diagnostic-undefined-bool-conversion,
  -clang-diagnostic-unused-but-set-variable,
  -clang-diagnostic-unused-const-variable,
  -clang-diagnostic-unused-label,
InheritParentConfig: true
