*.[oa]
*.o
*.os
*.binding
*.so
*.dylib
*.pyc

# autotools
aclocal.m4
config.log
config.status
config.guess
config.sub
Makefile
Makefile.in
autom4te.cache
stamp-h1
libtool
ltmain.sh
install-sh
depcomp
.deps

# OSX
.DS_STORE

# misc editor/tools
*~
*.swp
*.kdev4
.gdb_history
core
cscope.files
cscope.out
tags

# generated folders doc, build, packaging
.waf-*
.waf3-*
.lock-waf*
/build/
/doc/html/
/doc/latex/
/tools/osx_packaging/Resources/


# translations
/gtk2_ardour/po/*.mo
/gtk2_ardour/*.pot
/libs/ardour/po/*.mo
/libs/ardour/libardour.pot

# /gtk2_ardour/
/gtk2_ardour/ardour.sh
/gtk2_ardour/ardev_common.sh
/gtk2_ardour/*.bindings
/gtk2_ardour/*.rc
/gtk2_ardour/version.cc
/gtk2_ardour/version.h

# /libs/ardour/
/libs/ardour/version.cc
/libs/ardour/ardour/version.h
/libs/ardour/revision.cc
/libs/ardour/config_text.cc

# /libs/gtkmm2ext/
/libs/gtkmm2ext/*.pot
/libs/gtkmm2ext/*.mo
/libs/gtkmm2ext/*.po
/libs/gtkmm2ext/version.cc
/libs/gtkmm2ext/gtkmm2ext/version.h

# /libs/midi++2/
/libs/midi++2/version.cc
/libs/midi++2/midi++/version.h

# /libs/pbd/
/libs/pbd/version.cc
/libs/pbd/pbd/version.h

/libs/taglib/taglib/flacproperties.h
/libs/taglib/taglib/apefooter.h
/libs/taglib/taglib/apeitem.h
/libs/taglib/taglib/apetag.h
/libs/taglib/taglib/attachedpictureframe.h
/libs/taglib/taglib/commentsframe.h
/libs/taglib/taglib/flacfile.h
/libs/taglib/taglib/id3v2tag.h
/libs/taglib/taglib/generalencapsulatedobjectframe.h
/libs/taglib/taglib/id3v1genres.h
/libs/taglib/taglib/id3v1tag.h
/libs/taglib/taglib/id3v2extendedheader.h
/libs/taglib/taglib/id3v2footer.h
/libs/taglib/taglib/id3v2frame.h
/libs/taglib/taglib/id3v2framefactory.h
/libs/taglib/taglib/id3v2header.h
/libs/taglib/taglib/id3v2synchdata.h
/libs/taglib/taglib/oggpageheader.h
/libs/taglib/taglib/mpcfile.h
/libs/taglib/taglib/mpcproperties.h
/libs/taglib/taglib/mpegfile.h
/libs/taglib/taglib/mpegheader.h
/libs/taglib/taglib/mpegproperties.h
/libs/taglib/taglib/oggfile.h
/libs/taglib/taglib/oggflacfile.h
/libs/taglib/taglib/oggpage.h
/libs/taglib/taglib/textidentificationframe.h
/libs/taglib/taglib/relativevolumeframe.h
/libs/taglib/taglib/speexfile.h
/libs/taglib/taglib/speexproperties.h
/libs/taglib/taglib/taglib.h
/libs/taglib/taglib/tbytevector.h
/libs/taglib/taglib/tbytevectorlist.h
/libs/taglib/taglib/tdebug.h
/libs/taglib/taglib/tlist.h
/libs/taglib/taglib/tmap.h
/libs/taglib/taglib/trueaudiofile.h
/libs/taglib/taglib/trueaudioproperties.h
/libs/taglib/taglib/tstring.h
/libs/taglib/taglib/tstringlist.h
/libs/taglib/taglib/tfile.h
/libs/taglib/taglib/urllinkframe.h
/libs/taglib/taglib/unicode.h
/libs/taglib/taglib/uniquefileidentifierframe.h
/libs/taglib/taglib/unknownframe.h
/libs/taglib/taglib/unsynchronizedlyricsframe.h
/libs/taglib/taglib/xiphcomment.h
/libs/taglib/taglib/vorbisfile.h
/libs/taglib/taglib/vorbisproperties.h
/libs/taglib/taglib/wavpackfile.h
/libs/taglib/taglib/wavpackproperties.h
/libs/taglib/taglib/xingheader.h