<?xml version="1.0"?>
<Ardour>
  <Config>
    <Option name="minimum-disk-io-bytes" value="262144"/>
    <Option name="track-buffer-seconds" value="5.000000"/>
    <Option name="mute-affects-pre-fader" value="yes"/>
    <Option name="mute-affects-post-fader" value="yes"/>
    <Option name="mute-affects-control-outs" value="yes"/>
    <Option name="mute-affects-main-outs" value="yes"/>
    <Option name="solo-latch" value="yes"/>
    <Option name="pixmap-path" value="/usr/share/ardour/pixmaps:/usr/local/share/ardour/pixmaps"/>
    <Option name="disk-choice-space-threshold" value="57600000"/>
    <Option name="mtc-port" value="trident"/>
    <Option name="mmc-port" value="trident"/>
    <Option name="monitor-inputs" value="no"/>
  </Config>
</Ardour>
