
body {
	background-color: white;
	margin:0 auto;
	font-family: "Bitstream Vera Sans","Lucida Grande", "Luxi Sans", verdana, "Trebuchet MS", helvetica,verdana,arial,sans-serif;
	font-size:9pt;
	max-width:55em;
	padding:2em;
	color:#333;
	line-height:150%;
}

/* Links */

/* these colors need work */

a:link {
	color:#7f83a4;
}

/* This is too light */
a:visited {
	color:#adabc8;
}

div.longdesc-link {
	color:#999;
	float:right;
}

/* Lists */

dt {
	font-weight:bold;
}

dd {
	margin:0em;
	margin-left:2em;
	padding-top:0em;
}

/* Images */

img {
	display:block;
	margin:	1.5em;
}


.screen {
	background-color:#d5d1b9;
	color:#333;
}

pre,code { 
	padding:.3em 1em;
	font-size:0.9em;
	font-family:"Bitstream vera mono",monospace;
}

pre {
	display:block;
	overflow:auto;
}

code {
	white-space:nowrap;
	background-color:#bbb;
	color:#222;
}

.command,
.filename,
.literal,
.option {
	font-weight:bold;
}

/* Admonitions */
div.note,
div.tip,
div.important,
div.caution,
div.warning {
	background: #27272b url(images/admon-bg.png) top left repeat;
	color:white;
	padding:0.8em;
	margin-bottom:1.5em;
}

div.note .title,
div.tip .title,
div.important .title,
div.caution .title,
div.warning .title {
	font-size:1.3em;
	color: white;
}

div.note p,
div.tip p,
div.caution p,
div.warning p,
div.important p {
	padding-left:0.5em;
}

/* Tables */

table {
	width:100%;
	border-right:1px solid #aaa;
	border-collapse:collapse;
	border-top:1px solid #aaa;
	border-left:1px solid #aaa;
	border-bottom:1px solid #aaa;
}

table th {
	padding:.2em .5em;
}

table td {
	padding:.10em .5em;
}

table,td,th {
	border-color:#777 !important;
}

/* Headings */


h1,h2,h3,h4,h5,h6 {
	/* this color is too purpley */
	color:#565690;
	line-height:130%;
	margin-top:0em;
	font-family:"Luxi Sans","Bitstream Vera Sans","Lucida Grande","Trebuchet MS",helvetica,verdana,arial,sans-serif;
	background-color:transparent;
	}

h1 {
	background: #555555 url(images/title-bg.png) top left repeat;
	line-height:1.6em;
	color:#eff3f0;
	font-size:2em;
	padding:1.5em;
}

h2 {
	font-size:1.6em;
}

h3 {
	font-size:1.1em;
	padding-top:1em;
}

h5.formalpara {
	font-size:1em;
	margin-top:2em;
}

/* Status */

.ardour-draft {
	background: white url(./images/watermark-draft.png) top left repeat;
}

