/*
 * This file is part of Toolkit.
 *
 * Toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * Toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */
.toolkit-knob {
    /*background: url(../images/knob/background.svg) no-repeat 50% 50%;*/
    background-size: contain;
    cursor: pointer;
    width: 100px;
    height: 100px;
}
.toolkit-knob > svg {
    width: 100%;
    height: 100%;
}
.toolkit-knob > svg > .toolkit-circular > .toolkit-hand {
    fill: #487c92;
}

.toolkit-knob > svg > .toolkit-circular > .toolkit-base {
    
}
.toolkit-knob > svg > .toolkit-circular > .toolkit-value {
    /*fill: #487c92;*/
}
.toolkit-knob > svg > .toolkit-circular > .toolkit-dots > .toolkit-dot {
    fill: #002f42;
}
.toolkit-knob > svg > .toolkit-circular > .toolkit-labels > .toolkit-label {
    font-size: 8px;
    fill: #002f42;
}
