/*
 * This file is part of Toolkit.
 *
 * Toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * Toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */
.toolkit-tooltip {
    
}
.toolkit-tooltip > .toolkit-table {
    
}
.toolkit-tooltip > .toolkit-table > .toolkit-row {
    
}
.toolkit-tooltip  > .toolkit-table > .toolkit-row > .toolkit-cell {
    
}

.toolkit-tooltip  > .toolkit-table > .toolkit-row > .toolkit-cell > .toolkit-entry {
    background: #e7e7e7;
    color: black;
    opacity: 0.9;
    font-size: 0.9em;
    color: #666;
    padding: 2px 4px;
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 2px 5px rgba(0,0,0,0.3);
    box-shadow:         0px 2px 5px rgba(0,0,0,0.3);
    border: 1px solid #f3f3f3;
}

.toolkit-tt-container {
    padding: 24px 0 0 24px;
}
