html {
    height: 100%;
}

body {
    background: rgb(62,61,61);
    color: rgb(248,248,242);
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
}

div {
    box-sizing: border-box;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#surface {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 10px #000;
}

#top {
    display: flex;
    align-items: center;
    padding: 0.25em 0.5em;
    box-shadow: 0px 0px 10px #000;
}

#top > img {
    height: 24px;
}

#top > span {
    margin-left: 12px;
}

#log {
    height: 7em;
    overflow: scroll;
    overflow-x: hidden;
    background: rgba(0,0,0,0.4);
}

#strips {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
    background: rgba(0,0,0,0.2);
}

#log pre {
    margin: 0;
    font-family: Menlo, monospace;
    font-size: 1em;
}

.message-in {
    color: rgb(248,248,242);
}

.message-out {
    color: rgb(172,128,255);
}

.info {
    color: rgb(99,208,230);
}

.error {
    color: rgb(249,36,114);
}

.comp-name {
    font-size: 1.5em;
    font-weight: bold;
}

.strip {
    margin: 20px;
    padding: 20px 40px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    width: 100%;
    max-width: 768px;
}

.slider-meter {
    float: right;
}

.strip-slider {
    margin-top: 20px;
}

.plugin {
    margin: 40px 0;
    padding: 20px;
    background: rgba(0,0,0,0.05);
    border-radius: 5px;
}

.plugin-enable {
    float: right;
}

.plugin-param {
    margin: 20px 0;
}

.plugin-param.boolean {
    text-align: center;
}

.plugin-param > .widget-switch {
    margin: 10px 40px;
}

.plugin-param.boolean {
    display: inline-block;
}
