Checks: >
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-diagnostic-null-dereference,
InheritParentConfig: true
